{{define "content"}}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<form class="form-inline" action="/admin/login/" method="POST" autocomplete="off">
				<input type="hidden" name="csrftoken" value="{{.CSRF}}">
				<input type="text" name="user" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Username" value="{{.User}}" required>
				<input type="password" name="password" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Password" required>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<div class="col-sm-1"></div>
	</div>

	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			{{if .Msg}}
			<p>
				<div class="alert alert-danger" role="alert">
					<strong>Oops!</strong> {{.Msg}}
				</div>
			</p>
			{{end}}
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
{{end}}
{{define "jscss"}}{{end}}
